@model ProjetoQualyteam.Models.Documento

@{
    ViewData["Title"] = "Excluir";
}

<h3>Você tem certeza?</h3>
<div>
    <table class="table table-striped">
        <tr>
            <th class="col-sm-15">
                @Html.DisplayNameFor(model => model.Titulo):  @Html.DisplayFor(model => model.Titulo)
            </th>
        </tr>
        <tr>
            <th class="col-sm-15">

                @Html.DisplayNameFor(model => model.Processo):  @Html.DisplayFor(model => model.Processo)
            </th>
        </tr>
        <tr>
            <th class="col-sm-15">
                @Html.DisplayNameFor(model => model.Categoria):  @Html.DisplayFor(model => model.Categoria)
            </th>
        </tr>
    </table>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger btn-sm" />
        <a type="button" class="btn btn-primary btn-sm" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
