@model ProjetoQualyteam.Models.Arquivo

@{
    ViewData["Title"] = "Detalhe";
}

<div>
    <h4>Detalhes do arquivo</h4>
    <table class="table table-striped">
        <tr>
            <th class="col-sm-15">
                @Html.DisplayNameFor(model => model.titulo):  @Html.DisplayFor(model => model.titulo)
            </th>
        </tr>
        <tr>
            <th class="col-sm-15">

                @Html.DisplayNameFor(model => model.processo):  @Html.DisplayFor(model => model.processo)
            </th>
        </tr>
        <tr>
            <th class="col-sm-15">
                @Html.DisplayNameFor(model => model.categoria):  @Html.DisplayFor(model => model.categoria)
            </th>
        </tr>
    </table>
</div>
<div>
    <a type="button" class="btn btn-success btn-sm" asp-action="Download" asp-route-id="@Model.id">Baixar</a>
    <a type="button" class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model.id">Editar</a>
    <a type="button" class="btn btn-primary btn-sm" asp-action="Index">Voltar para a lista</a>
</div>